.section {

}

.level-2 {
  margin-left: 1rem;
}

.toggleIcon {
  cursor: pointer;
  transition: opacity 0.2s;
  font-size: 2rem;
  &:hover {
    opacity: 0.5;
  }
}
.anchor {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}